.product {
  &-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 1fr);
    padding-bottom: $padding-lg;
    position: relative;
    @include min-screen(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include min-screen(lg) {
      grid-gap: 3rem;
      grid-template-columns: repeat(4, 1fr);
    }

    &-msg {
      background-image: $gradient;
      border-radius: 1rem;
      bottom: 0;
      box-shadow: $white-box-shadow;
      color: $white;
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      grid-column: 1/-1;
      left: 50%;
      margin: 0;
      padding: 1rem 2rem;
      position: fixed;
      text-align: center;
      transform: translate(-50%, 100%);
      transition: transform .3s linear;
      z-index: 100;
      &.show {
        transform: translate(-50%, -50%);
      }
    }
  }

  &-card {
    background-color: $white;
    border-radius: 2rem;
    box-shadow: $white-box-shadow;
    color: $black;
    padding: $padding-sm $padding-sm $padding-lg;
    position: relative;
  }

  &-img {
    display: block;
    height: auto;
    margin: 0 auto 2rem;
    max-height: 30rem;
    max-width: 100%;
    min-height: 30rem;
    object-fit: contain;
    width: auto;
  }

  &-category {
    background-color: $black;
    border-radius: 1rem;
    color: $white;
    float: right;
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
  }

  &-name {
    font-size: 2rem;
  }

  &-price {
    font-size: 2rem;
    font-weight: 600;
  }

  &-action {
    bottom: $padding-sm;
    position: absolute;
  }
}
