html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.validation-msg {
  opacity: 0;
  visibility: hidden;
  display: block;
  margin: 1rem 0;
  font-weight: 600;
}

.validation-msg.success {
  visibility: visible;
  opacity: 1;
  color: #009944;
}

.validation-msg.error {
  visibility: visible;
  opacity: 1;
  color: #cf000f;
}

.nav {
  position: absolute;
  top: 4rem;
  left: 6rem;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  opacity: 0;
}

.nav.active {
  opacity: 1;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #c373f2;
  background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-toggle {
  background: transparent;
  border: none;
  position: relative;
  height: 2rem;
  padding: 0;
  left: 2rem;
}

.nav-toggle-wrapper {
  position: fixed;
  top: 4rem;
}

.nav-toggle span {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  background: linear-gradient(326deg, #c373f2 0%, #f977ce 74%);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.nav-toggle span:first-child {
  top: 0;
}

.nav-toggle span:nth-child(2) {
  top: 0.9rem;
}

.nav-toggle span:last-child {
  bottom: 0;
}

.nav-toggle-wrapper.active + .nav {
  opacity: 1;
}

.nav-toggle-wrapper.active span {
  width: 3rem;
}

.nav-toggle-wrapper.active span:nth-child(2) {
  display: none;
}

.nav-toggle-wrapper.active span:first-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0.8rem;
}

.nav-toggle-wrapper.active span:last-child {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  bottom: 1rem;
}

@media (min-width: 576px) {
  .nav {
    position: fixed;
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
    top: 6rem;
    opacity: 1;
    left: 4rem;
  }
  .nav.show {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .nav-item {
    padding: 0 2rem;
  }
  .nav-link {
    font-size: 2rem;
  }
  .nav-toggle {
    display: none;
  }
}

.main-content {
  height: calc(100vh - (4rem * 2));
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
  padding-top: 10rem;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  color: #fff;
  background-color: #333;
}

@media (min-width: 576px) {
  .main-content {
    padding: 6rem;
    padding-top: 10rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .main-content {
    height: calc(100vh - (6rem * 2));
  }
}

.intro-block h2 {
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 767px) {
  .intro-block h2 {
    font-size: 4rem;
  }
}

.intro-block h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

@media (min-width: 767px) {
  .intro-block h1 {
    font-size: 6rem;
  }
}

.intro-block h1 span {
  background-color: #c373f2;
  background-color: #c373f2;
  background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-box {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #333;
  padding: 2rem 5rem;
}

.login-box h4 {
  font-size: 2rem;
  margin: 0;
}

input {
  outline: none;
  border: 0.1rem solid #333;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  width: 26rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper-password i {
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

.input-wrapper-password.show i::before {
  content: "\f06e";
}

button,
.btn {
  background-color: #c373f2;
  background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
  border: none;
  padding: 1rem 5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

button:hover, button:active, button:focus,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #f977ce;
  background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
}
/*# sourceMappingURL=main.css.map */